<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.App">
        <activity
            android:name=".ui.main.kt.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.cards.kt.slider.StudyCardSliderActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.cards.kt.slider.EditCardSliderActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.cards.kt.slider.BrowseCardSliderActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.cards.kt.list.ListCardsActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.App" />
    </application>

</manifest>